@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer components {
  /* group utilites  */
  .categoryBtn {
    @apply bg-transparent  text-slate-600 sm:font-normal  py-1 px-2 border border-slate-600 active:border-blue-700 active:bg-transparent active:text-blue-700 text-xs/[12px] lg:text-sm xl:text-xl rounded;
  }
  .menuBtn {
    @apply flex text-center items-center bg-transparent bg-indigo-100 hover:bg-indigo-200 text-indigo-500 sm:font-normal lg:font-medium hover:text-indigo-600 px-1 lg:px-2 py-1 lg:py-1  hover:border-transparent text-sm xl:text-xl rounded;
  }
  .actionBtn {
    @apply flex text-center items-center bg-transparent  font-normal lg:font-medium 
     py-1 lg:py-1 sm:p-2 lg:p-2 xl:p-4 sm:px-2 lg:px-4  hover:border-transparent text-sm lg:text-base xl:text-2xl rounded;
  }
  .actionBtn-red {
    @apply bg-red-100 hover:bg-red-200 text-red-500  hover:text-red-500;
  }
  .actionBtn-indigo {
    @apply bg-indigo-100 hover:bg-indigo-200 text-indigo-500  hover:text-indigo-500;
  }
  .actionBtn-blue {
    @apply bg-blue-100 hover:bg-blue-200 text-blue-500  hover:text-blue-500;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
